<!DOCTYPE html>
<html>

  <head>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet'>
    <link href="{{url_for('static',filename='css/main.css')}}" rel="stylesheet">
  </head>

  <body>

    <header>
      <div class="container">
        <!--<h1 class="title">SSN</h1>-->
        <a href="{{url_for('index')}}"><img src="static/img/logo.png" width="50%"></a> 
        
      </div>
    </header>
    
    {% block main %}
    {% endblock %}

    <footer>
      <div>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <center><p style="color:#0E69B2">&copy; Department of IT, SSN</p></center>
    </div>
    </footer>
    
  </body>
</html>