{% extends "base.html" %}

{% block main %}
  <main class="hero-section">
    <div class="container">
      <br><br>
      <br><br>
      
      <!--<div class="section-content">-->
        <center><h3 style="color:#0E69B2">SSIAMR</h3></center>
        <center><p style="color:#0E69B2">(SSN Internal Assessment Marks Repo.)</p></center>
        <br><br>
        <br><br>
        <center>
        <a href="#" class="btn-primary">Sign up</a>
        <a href="{{url_for('about')}}" class="btn-secondary">Know more</a> 
      </center>
      <!-- </div> -->

      <div class="section-device">
        <!--<img src="static/img/symbol.png">-->
      </div>
      
      <div class="clearfix"></div>

    </div>
  </main>
{% endblock %}